body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}
.container {
    max-width: 600px;
    margin: auto;
    background-color: rgb(221, 227, 230);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px green;
    border: 1px solid #ccc;
}
h1 {
    text-align: center;
    color: darkgreen;
    font-size: 35px;
}
h2 {
    text-decoration:underline;
    color: darkgreen;
    margin-bottom: 10px;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"], textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid green;
    border-radius: 10px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: lightgreen;
}
#resume-output {
    margin-top: 30px;
    padding: 20px;
    background-color: white;
    border: 1px solid green;
    border-radius: 8px;
    outline: none;
}
#resume-output img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}
